@import 'variables';
//////////property

/////General

// Icon

@mixin icon($size) {
  .fas {
    font-size: $size;
    background-color: #f15861;
    background-image: linear-gradient(45deg, #f15861, #f78f6a);
    background-size: 100%;
    -webkit-background-clip: text;

    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

//Grid Menu

@mixin gridMenu {
  .decor {
    text-align: center;
    width: 80%;
    margin: 1rem auto;
  }
  .gridMenu {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 0.9rem;

    em {
      display: block;

      text-align: center;
    }
  }
}

// Fonts menus

@mixin fontsMenus {
  .gridMenu {
    p {
      font-family: $raleway;
      font-style: italic;
    }
  }
}

////Index
//Menus de restaurant
@mixin Gridat($backgroundColor, $fontFamily1, $fontFamily2) {
  text-align: center;

  @include transitionOpacityScale;
  a {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  height: 59vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: 5px solid $borderColor;
  background: $backgroundColor;
  h2 {
    font-family: $fontFamily1;
    font-size: 2.5rem;
  }
  h3 {
    margin-top: 2rem;
    font-family: $fontFamily2;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bold;
  }
}

//Menu text gradiant colors

@mixin Colors($Fontcolor, $gradiantColor1, $gradiantColor2) {
  position: relative;

  h2 {
    background-size: 100%;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      $gradiantColor2,
      $gradiantColor1
    );
  }
  h3 {
    color: $Fontcolor;
  }
}

// Text gradian titres
@mixin ColorsTitre($color1, $color2) {
  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    background-color: $color1;
    background-image: linear-gradient(to right, $color1, $color2);
    background-size: 100%;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

// Animation transition

@mixin transitionOpacityScale {
  transition: transform 0.1s ease-in;

  &:hover {
    animation: opa 0.1s ease-in forwards;
    @keyframes opa {
      to {
        opacity: 0.7;
      }
    }
    h2,
    h3,
    i {
      margin: 1.5rem;
      transform: scale(1.3, 1.6);
      transform-origin: center;
      font-weight: bolder;
    }
  }
}

///Lanote

// section / Container

@mixin sec($backgroundColor) {
  .sections {
  }
  .container {
    width: 70%;
    margin: 1rem auto;
    background: $backgroundColor;
    padding: 1rem;
    border: none;
    border-radius: 0.3rem;
  }
}

//Decor h2

@mixin decoration {
  .decor h2 {
    position: relative;
    span {
      font-family: $Medieva;
      font-weight: bolder;
      position: relative;

      &:hover {
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 10%;
          background: #fdcb46;
          animation: od 0.4s ease-in;
          @keyframes od {
            from {
              width: 0%;
            }
          }
        }
      }
    }
  }
}

@mixin decore($colorDecor, $width) {
  h2:before {
    content: '';
    width: 4rem;
    position: absolute;
    width: $width;
    height: 0.4rem;
    border-radius: 80%;
    background: $colorDecor;
    top: 1rem;
    left: 1px;
  }

  h2:after {
    content: '';
    position: absolute;
    width: $width;
    height: 0.4rem;
    border-radius: 100%;
    background: $colorDecor;
    top: 1rem;
    right: 1px;
  }
}
