@mixin indexx {
  ////////////////Header

  header {
    padding: 1.4rem;
    background: $headerColor;
    text-align: center;
    height: 20vh;
    #logo {
      font-size: 3rem;
      font-weight: bolder;
      color: $logoColor;
      cursor: pointer;
      text-decoration: none;
    }
  }

  ////////// Section

  //grid
  .grid {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    //La note enchante
    .lanote {
      position: relative;
      @include Gridat($lanoteBackground, $Caveat, $Medieva);
      @include icon(4rem);
    }
    //Le chic à la française
    .lechic {
      @include Gridat($lechicBackground, $mark, $Medieva);
      @include Colors(
        $ledeliceFontMenuColor,
        $lechicfontColorgradiant1,
        $lechicFontColorGradiant2
      );
    }
    //le délice des papilles
    .ledelic {
      @include Gridat($ledeliceBackground, $dancing-script, $Medieva);
      @include Colors(
        $ledeliceFontMenuColor,
        $ledelicefontColorgradiant1,
        $ledeliceFontColorGradiant2
      );
    }
    //Le palette du gout
    .lapalette {
      @include Gridat($lepaletteBackground, $light-font, $Medieva);
      @include Colors(
        $lepaletteFontMenuColor,
        $lepalettefontColorgradiant1,
        $lepaletteFontColorGradiant2
      );
    }
  }

  // Prochainement
  .proch {
    background: $prochainementBackground;
    text-align: center;
    width: 30%;
    margin: auto;
    border-radius: 0.1rem 0.3rem;
    padding: 0.6rem;
    color: $prochainementfontColor;
  }

  .point {
    display: inline-block;
    animation: typing 3.5s infinite;
  }
  @keyframes typing {
    from {
      opacity: 0;
    }
    to {
      width: 1;
    }
  }

  //footer

  footer {
    height: 7vh;
    margin-top: 1rem;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: $prochainementBackground;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin: 0 1rem;

      font-weight: bolder;
      color: $prochainementfontColor;

      &:hover {
        animation: wiggle 0.5s ease-in infinite;
        @keyframes wiggle {
          0% {
            transform: rotate(0deg);
          }

          50% {
            transform: rotate(12deg);
          }

          100% {
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
