@import 'functions';
@import 'variables';

@mixin ledelice {
  .ledelice {
    @include sec($ledeliceBackground);
    @include ColorsTitre(
      $ledelicefontColorgradiant1,
      $ledeliceFontColorGradiant2
    );

    .container {
      h1 {
        font-family: $dancing-script;
        font-weight: bolder;
        font-size: 3rem;
      }

      .a {
        @include decore(#0228dd, 30%);
      }
      .b {
        @include decore(#0670f3, 30%);
      }

      .c {
        @include decore(#6e4ccc, 30%);
      }
    }
  }
}
