@import 'mobile';
@import './utils/variables';
@import './utils/functions';
@import './pages/index';
@import './pages/lanote';
@import './pages/lechic';
@import './pages/ledelice';
@import './pages/lepalette';
@import './pages/mention';
// General styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: $openSan;
}

a {
  text-decoration: none;
  cursor: pointer;
}

///Index
@include indexx;

///Lanote
@include lanote;

///Lechic
@include lechic;

///Ledelice
@include ledelice;

///Lepalette
@include lepalette;
///Mentions
@include mentions;

/////Mobile
@include mobileAll;
