@import './utils/functions';

//// eveything

@mixin mobileAll {
  @media screen and (max-width: 768px) {
    @include mobileIndex;
    @include mobileMenus;

    ///Ver small screens
    @media screen and (max-width: 320px) {
      @include smallScreen;
    }
  }
  //Ipad ,ipad pro
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    @include largeScreen;
  }
}

// Small Screen
@mixin smallScreen {
  .proch {
    width: 60%;
  }
  #lechichTitre {
    font-size: 1rem;
  }
  .finalLogo {
    h2 {
      margin: auto 0.6rem;
      font-size: 1rem;
    }

    display: flex;
    text-align: center;
    justify-content: center;
    @include icon(2rem);
  }
}

///Meduim Screen

@mixin mobileIndex {
  // font-size for index menus
  .general h2,
  #chica {
    font-size: 1.7rem;
  }
  header {
    height: 10vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
      font-size: 2rem;
    }
  }
  .grid {
    width: 95%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;

    .lanote h2,
    .lechic h2,
    .ledelic h2,
    .lapalette h2 {
      font-size: 1.8rem;
    }
    .lanote h3,
    .lechic h3,
    .ledelic h3,
    .lapalette h3 {
      font-size: 1rem;
    }
  }
  .proch {
    width: 50%;
  }
}

@mixin mobileMenus {
  .black {
    img {
      transform: rotate(-10deg);
    }
  }

  .decor {
    h2 {
      font-size: 1rem;
    }
    img {
      width: 1rem;
      height: 1rem;
    }
  }
  .sections .container {
    width: 95%;
  }

  .finalLogo {
    h2 {
      margin-left: 0.5rem;
    }
  }
}

// Large screen

@mixin largeScreen {
  .decor {
    h2 {
      font-size: 2rem;
    }
    img {
      width: 5rem;
      height: 1rem;
    }
  }
  .grid {
    width: 95%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .general {
      height: 30rem;
      .lanote h2,
      .lechic h2,
      .ledelic h2,
      .lapalette h2,
      #chica {
        font-size: 1.6rem;
      }
      .lanote h3,
      .lechic h3,
      .ledelic h3,
      .lapalette h3 {
        font-size: 2rem;
      }
    }
  }
  header {
    height: 7rem;
    #logo {
      font-size: 2rem;
    }
  }
  .sections {
    height: 75rem;

    .container {
      width: 90%;
      height: 100%;
    }

    .gridMenu {
      margin-bottom: 3rem;
    }
    .container h1 {
      margin: 3rem auto;
    }
  }

  .mentions {
    height: 70rem;
    .container {
      margin: 3rem auto;
      width: 90%;

      h2,
      p {
        margin: 1rem;
      }
    }
  }

  footer {
    height: 4rem;
  }
}
