@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
///////fonts
$openSan: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$lato: 'Lato', sans-serif;
$Medieva: 'MedievalSharp', cursive;
$Caveat: 'Caveat', cursive;
$Roboto: 'Roboto', sans-serif;
$Croissant: 'Croissant One', cursive;
$light-font: 'Kaushan Script', cursive;
$dancing-script: 'Dancing Script', cursive;
$kaushan: 'Kaushan Script', cursive;

///////Colors

$headerColor: #579c87;
$logoColor: #fdcb46;
//background colors
$lanoteBackground: #fcdfdb;
$lechicBackground: #fff5fe;
$ledeliceBackground: #f9f9f9;
$lepaletteBackground: #fdfffd;
$prochainementBackground: #579c87;
// font colors
$lechicMenuFontColor: #c77412;
$lechicfontColorgradiant1: #030201;
$lechicFontColorGradiant2: #9861ef;
$ledeliceFontMenuColor: #0887fb;
$ledelicefontColorgradiant1: #0431df;
$ledeliceFontColorGradiant2: #97c9f9;
$lepaletteFontMenuColor: #72bf56;
$lepalettefontColorgradiant1: #4c9f42;
$lepaletteFontColorGradiant2: #bfff7e;
$prochainementfontColor: #fdcb46;
//borderColor
$borderColor: rgba(0, 0, 0, 0.1);
