@mixin indexx {
  ////////////////Header

  header {
    background: $headerColor;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #logo {
      font-family: $Roboto;
      font-size: 4rem;
      font-weight: bolder;
      color: $logoColor;
      cursor: pointer;
      text-decoration: none;
    }
  }

  ////////// Section

  //grid
  .grid {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: stretch;

    //La note enchante
    .lanote {
      position: relative;
      @include Gridat($lanoteBackground, $Caveat, $Medieva);
      @include icon(4rem);
    }
    //Le chic à la française
    .lechic {
      @include Gridat($lechicBackground, $mark, $Medieva);
      @include Colors(
        $ledeliceFontMenuColor,
        $lechicfontColorgradiant1,
        $lechicFontColorGradiant2
      );
    }
    //le délice des papilles
    .ledelic {
      @include Gridat($ledeliceBackground, $dancing-script, $Medieva);
      @include Colors(
        $ledeliceFontMenuColor,
        $ledelicefontColorgradiant1,
        $ledeliceFontColorGradiant2
      );
    }
    //Le palette du gout
    .lapalette {
      @include Gridat($lepaletteBackground, $light-font, $Medieva);
      @include Colors(
        $lepaletteFontMenuColor,
        $lepalettefontColorgradiant1,
        $lepaletteFontColorGradiant2
      );
    }
  }

  // Prochainement
  .proch {
    background: $prochainementBackground;
    text-align: center;
    width: 30%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: $prochainementfontColor;
  }

  .point {
    overflow: hidden;
    white-space: nowrap;

    display: inline-block;
    animation: typing 2s steps(30, end) infinite;

    @keyframes typing {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  //footer

  footer {
    height: 7vh;
    margin-top: 1rem;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: $prochainementBackground;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin: 0 1rem;

      font-weight: bolder;
      color: $prochainementfontColor;

      &:hover {
        animation: wiggle 0.5s ease-in infinite;
        @keyframes wiggle {
          0%,
          7% {
            transform: rotateZ(0deg);
          }
          15% {
            transform: rotateZ(-15deg);
          }
          20% {
            transform: rotateZ(10deg);
          }
          25% {
            transform: rotateZ(-10deg);
          }
          30% {
            transform: rotateZ(6deg);
          }
          35% {
            transform: rotateZ(-4deg);
          }
          40%,
          100% {
            transform: rotateZ(0);
          }
        }
      }
    }
  }
}
