@import '../utils/functions.scss';
@import '../utils/variables.scss';
@mixin lechic {
  .lechic {
    @include sec($lechicBackground);

    .container {
      h1 {
        font-weight: bold;
        font-size: 2rem;
      }

      @include ColorsTitre(
        $lechicfontColorgradiant1,
        $lechicFontColorGradiant2
      );

      .appe,
      .brown {
        color: #c67412;
      }

      .papilles,
      .purple {
        color: #a56799;
      }

      .blue,
      .gour {
        color: #6e4ccc;
      }
    }
  }
}
