@import '../utils/functions.scss';
@import '../utils/variables.scss';

@mixin ledelice {
  .ledelice {
    @include sec($ledeliceBackground);
    @include ColorsTitre(
      $ledelicefontColorgradiant1,
      $ledeliceFontColorGradiant2
    );

    .container {
      h1 {
        font-family: $dancing-script;
        font-weight: bolder;
        font-size: 2rem;
      }
    }
  }
}
