@import '../utils/functions.scss';
@import '../utils/variables.scss';

@mixin lepalette {
  .lepalette {
    @include sec($lepaletteBackground);
    @include ColorsTitre(
      $lepalettefontColorgradiant1,
      $ledeliceFontColorGradiant2
    );

    .container {
      h1 {
        font-family: $kaushan;
        font-weight: bolder;
        font-size: 2rem;
      }
    }
  }
}
